/*  Header início */

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;

    background-color: gray;
}

.logomarca {
    width: 25%;

    padding-top: 1.5%;
    padding-bottom: 1.5%;

    border-radius: 25%;

    margin-left: 2%;

    background-color: violet;

    text-align: center;
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    float: right;
    align-items: center;

    list-style: none;

    border: 5px;
    border-color: aqua;

    margin-right: 6.5%;
    margin-left: auto;
    margin-top: 10px;
}

.menu li {
    display: flex;
    flex-wrap: wrap;

    padding: 5.5%;

    border-radius: 5px;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3.5%;

    background-color: aliceblue;

    text-align: center;
}

.menu li a {
    text-decoration: none;
}

/* Header fim */



/* Main início */

.seção {
    width: 100%;

    padding-bottom: 10px;

    margin-top: 2%;

    background-color: bisque;
}

.título {
    padding-left: 1.5%;
    padding-bottom: 0.5%;

    border-color: black;
    border-style: dashed;
    border-bottom: 2%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

/* Perfil início */

.perfil {
    display: inline-block;
}

.perfil .pessoa {
    float: left;

    max-width: 20%;

    margin-left: 2%;
    margin-top: 3px;

    border: 2%;
    border-color: aliceblue;
    border-style: solid;
}

.dados {
    float: right;

    width: 72.5%;

    margin-right: 3%;
}

.localização h4 {
    display: inline-block;
}

.localização p {
    display: inline-block;
}

.site h4 {
    display: inline-block;
}

.site p {
    display: inline-block;
}

.redes_sociais i {
    margin-right: 2%;

    font-size: 250%;

    color: black;
}

.redes_sociais i:hover {
    color: red;
    
    font-size: 275%;
}

/* Perfil fim */

/* Repositório início */

#repositórios {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.icones_repositorio {
    display: inline-block;

    margin-left: 19%;
}

.icones_repositorio h6 {
    display: inline-block;
    
    font-size: 125%;
}

.icones_repositorio i {
    font-size: 150%;
}

.icones_repositorio i:nth-child(3) {
    margin-left: 20%;
}

/* Repositório fim */

/* Conteúdo recomendado início */

#slides {
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

/* Conteúdo recomendado fim */

/* Colegas de trabalho início */

#colaboradores {
    margin: 6px;
}

.colaborador .pessoa {
    max-width: 100%;

    border: 5px;
    border-color: rgb(255, 0, 0);
    border-style: solid;

    border-radius: 25px;
}

.colaborador h5 {
    text-align: center;
    font-style: italic;
}

/* Colegas de trabalho fim */

/* Main fim */


/* Footer início */

footer {
    display: block;

    height: 15%;

    margin-bottom: 0px;

    background-color: black;

    color: aliceblue;
}

/* Footer fim */